# Order is important; the last matching pattern takes the most precedence.

.github/ @alpenlabs/admins # only admins should own the CODEOWNERS
.gitignore @alpenlabs/admins

# CI/Local ENV
.github/workflows/ @alpenlabs/ci
.github/actions/ @alpenlabs/ci
.github/dependabot.yml @alpenlabs/ci
.justfile @alpenlabs/rust @alpenlabs/ci @alpenlabs/bin
codecov.yml @alpenlabs/ci
contrib/ @alpenlabs/ci @alpenlabs/bin
tests/ @alpenlabs/rust @alpenlabs/ci
**/*.nix @alpenlabs/ci
flake.lock @alpenlabs/ci

# Libs
# Note that the globbing here is to future-proof against new crates
/crates/ @alpenlabs/rust # fallback catch all
/crates/acct-types/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/asm*/ @alpenlabs/chain-protocol
/crates/bridge-types/ @alpenlabs/chain-protocol
/crates/btc*/ @alpenlabs/chain-protocol
/crates/chain*/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/checkpoint-types/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/checkpoint-types-ssz/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/cli-common/ @alpenlabs/bin
/crates/codec-utils/ @alpenlabs/rust
/crates/common/ @alpenlabs/rust
/crates/config/ @alpenlabs/rust
/crates/consensus*/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/crypto/ @alpenlabs/crypto @alpenlabs/rust
/crates/csm-types/ @alpenlabs/chain-core
/crates/csm-worker/ @alpenlabs/chain-core
/crates/da-framework/ @alpenlabs/chain-core
/crates/db*/ @alpenlabs/chain-core
/crates/*ee*/ @alpenlabs/chain-core
/crates/evm*/ @alpenlabs/chain-core
/crates/identifiers/ @alpenlabs/chain-core @alpenlabs/chain-protocol
/crates/key-derivation/ @alpenlabs/crypto @alpenlabs/rust
/crates/l1tx/ @alpenlabs/chain-protocol
/crates/ledger-types/ @alpenlabs/chain-core
/crates/mpt/ @alpenlabs/chain-protocol @alpenlabs/crypto
/crates/node-context/ @alpenlabs/bin
/crates/ol*/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/paas/ @alpenlabs/chain-core @alpenlabs/chain-protocol
/crates/params/ @alpenlabs/chain-core @alpenlabs/chain-protocol
/crates/primitives/ @alpenlabs/crypto @alpenlabs/rust
/crates/proof*/ @alpenlabs/chain-protocol
/crates/reth*/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/rpc/ @alpenlabs/chain-core
/crates/sequencer/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/service/ @alpenlabs/rust
/crates/snark*/ @alpenlabs/chain-protocol
/crates/state/ @alpenlabs/chain-core
/crates/status/ @alpenlabs/chain-core
/crates/storage/ @alpenlabs/chain-core
/crates/storage-common/ @alpenlabs/chain-core
/crates/strata-cli*/ @alpenlabs/rust
/crates/sync/ @alpenlabs/chain-core
/crates/tasks/ @alpenlabs/chain-core
/crates/*test-*/ @alpenlabs/rust @alpenlabs/ci
/crates/util*/ @alpenlabs/rust
/crates/*jmt*/ @alpenlabs/chain-core
/crates/zkvm/ @alpenlabs/chain-protocol
/provers/ @alpenlabs/chain-protocol

# Binaries/CLIs
bin/ @alpenlabs/bin # catch all
bin/alpen-*/ @alpenlabs/bin @alpenlabs/chain-core
bin/datatool/ @alpenlabs/bin @alpenlabs/chain-core
bin/prover*/ @alpenlabs/bin @alpenlabs/chain-protocol
bin/strata-*/ @alpenlabs/bin @alpenlabs/chain-core
bin/strata/ @alpenlabs/bin @alpenlabs/chain-core

# Functional tests
functional-tests/ @alpenlabs/python # catch all
functional-tests/fn_*.py @alpenlabs/python @alpenlabs/ci
functional-tests/constants.py @alpenlabs/python @alpenlabs/ci
functional-tests/entry.py @alpenlabs/python @alpenlabs/ci
functional-tests/uv.lock @alpenlabs/python


# Docker/Containers
**/Docker* @alpenlabs/docker
docker/ @alpenlabs/docker

# Dependencies and metadata
**/Cargo.toml @alpenlabs/dependencies # dependencies and metadata
**/Cargo.lock @alpenlabs/dependencies # updates
.config/ @alpenlabs/rust @alpenlabs/ci # config for rustdev and CI
**/*.toml @alpenlabs/rust # config files
